@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


html {
    overflow-x: hidden;
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;

}

:root {
    --color-secondary: #013147;
    --translate: max(50px, 6vh);
    --font-size: max(16px, 1vmax);
    --color-primary: #fafafa;
    --green: #57c2c5;
    --gradient: radial-gradient(circle, rgba(250, 250, 250, 0.1) 0%, rgba(250, 250, 250, 0) 100%);
    --color-tr: rgba(250, 250, 250, 0.5);
}

body {
    background: var(--color);
    color: var(--color-primary);
    font-weight: 300;
    background: #013147;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    font-size: max(32px, 2vmax);
    margin-bottom: max(25px, 2vh);
}

h2 {
    font-size: max(20px, 1.2vmax);
    margin-bottom: max(25px, 2vh);
}

h3 {
    font-size: max(18px, 1.1vmax);
    margin-bottom: max(25px, 2vh);
    text-transform: uppercase;
}

/* BUTTONS */

.button {
    font-size: max(16px, 1vmax);
    margin-bottom: max(25px, 2vh);
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
    padding: max(10px, .5vh) max(20px, 1vh);
    cursor: pointer;
    user-select: none;
    display: block;
    width: max(150px, 40%);
    margin: max(25px, 4vh) auto;
}

.btn-four {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    z-index: 1;
    border: 1px solid rgba(250, 250, 250, .5)
}

.btn-four:hover {
    border: 1px solid var(--color-secondary);
}

.btn-four span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

form .button span {
    background-color: var(--green);
}

.btn-four:hover span {
    transform: translateY(0) scale(2);
}

.btn-four span:nth-child(1) {
    --n: 1;
}

.btn-four span:nth-child(2) {
    --n: 2;
}

.btn-four span:nth-child(3) {
    --n: 3;
}

.btn-four span:nth-child(4) {
    --n: 4;
}

/* HEADER */

header {
    width: 100%;
    height: max(60px, 10vh);
    position: fixed;
    z-index: 100;
    transition: background 1s ease-in-out;
}

header a {
    color: var(--color-primary);
    transition: color .5s ease-in-out;
}

.header--wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: max(60px, 10vw) 1fr max(60px, 10vw);
    justify-items: center;
    align-items: center;
}

.logo {
    display: grid;
    align-items: center;
    grid-gap: max(2px, .2vw);
}

.i {
    grid-area: 1/1/2/2;
    justify-self: center;
}

.x {
    animation-delay: 1s;
    animation: an-x 5s infinite;
    grid-area: 2/2/3/3;

}

.o-up {
    grid-area: 2/1/3/2;

}

.o-down {
    grid-area: 1/2/2/3;
}

@keyframes an-x {
    0% {
        transform: rotate3d(0, 0, 0, 0);

    }

    100% {
        transform: rotate3d(0, 1, 0, 180deg);

    }
}

.logo svg {
    fill: var(--color-primary);
    width: auto;
    height: max(8px, 2vh);
}

nav a {
    margin: 0 max(10px, 1vw);
}

.hor-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.hor-nav a {
    position: relative;
    transition: 0.2s ease color;
    font-weight: 500;
    font-size: max(20px, 1.2vmax);
    color: rgba(250, 250, 250, .8);
}

.hor-nav a:hover {
    color: var(--color-primary);
}

.hor-nav a:before,
.hor-nav a:after {
    content: "";
    position: absolute;
    clip-path: polygon(5% 23%, 50% 0, 95% 23%, 95% 77%, 50% 100%, 5% 77%);
    transform: scale(0);
    transition: 0.2s ease transform;
    background-color: var(--color-primary);
}

.hor-nav a:before {
    top: -1.5vh;
    left: -1vw;
    width: 1vw;
    height: 1vw;
}

.hor-nav a:after {
    top: -.7vh;
    left: 2%;
    width: .5vw;
    height: .5vw;
}

.hor-nav a:hover:before,
.hor-nav a:hover:after {
    transform: scale(1);
}

/* SIDEBAR*/

.side-bar {
    height: 100vh;
    width: 100vw;
    background: var(--color-secondary);
    z-index: 5;
    transform: translateX(-100vw);
    position: fixed;
    transition: transform .5s ease-in-out;

}

.active {
    transform: translateX(0);
}

.side-bar--wrapper {
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 10% 5%;
    position: relative
}

.side-bar--line {
    position: absolute;
    width: 1%;
    height: 1px;
    background: rgba(250, 250, 250, .5);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);

}

.side-bar nav {
    margin-top: 10vh;
}

.side-bar nav a {
    color: var(--color-primary);
    display: block;
    margin: max(30px, 1vh) max(10px, 1vw);
    font-size: 20px;
    padding: 5px;

}

.side-bar--social .social--items {
    margin: 30px 0;
}

.hamburger {
    display: none;
}

.hamburger .line {
    width: max(30px, 2vw);
    height: max(2px, .1vh);
    background-color: #ecf0f1;
    display: block;
    margin: max(8px, .3vh) auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(max(10px, .7vw)) rotate(45deg);
    -ms-transform: translateY(max(10px, .7vw)) rotate(45deg);
    -o-transform: translateY(max(10px, .7vw)) rotate(45deg);
    transform: translateY(max(10px, .7vw)) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(min(-10px, -.7vw)) rotate(-45deg);
    -ms-transform: translateY(min(-10px, -.7vw)) rotate(-45deg);
    -o-transform: translateY(min(-10px, -.7vw)) rotate(-45deg);
    transform: translateY(min(-10px, -.7vw)) rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        justify-self: end;
        margin-right: 20px;
    }

    header nav {
        display: none;
    }

    .hor-nav {
        display: none;
    }

    .header--wrapper {
        grid-template-columns: max(60px, 10vw) 1fr;
    }
}

/* SECTION BANNER */

.section {
    height: 100vh;
    padding: 0 10%;
}

.section--banner {
    background-image: url('./assets/banner-ioxo.jpg');
    background-position: bottom;
    background-size: cover;
    color: var(--color-primary);
}

.section--banner .button {
    /* width: 50%; */
    margin: max(25px, 2vh) auto;
}

.section--wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.section--content {
    text-align: center;
    width: max(400px, 70%);
}

.bt_arrow svg {
    fill: var(--color);
    width: max(20px, 1vw);
    height: max(20px, 1vw);
    stroke-width: max(20px, .7vw);
    stroke: var(--color-primary);
    cursor: pointer;
}

.bt_arrow {
    display: block;
    width: max(20px, 1vw);
    margin: 0 auto;
    opacity: 1;
    animation-delay: 1s;
    animation: move 2s infinite;
}

@keyframes move {
    0% {

        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(max(30px, 1vh));
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .section--content {

        width: 100%;
    }
}

/* SECTION SECOND */

.section--second {
    padding: 0;
    height: auto;
}

.second--wrapper {
    position: relative;
    align-items: center;
    align-content: start;
    grid-gap: 4vh;
    margin-bottom: max(50px, 2vh);
}

canvas {
    display: block;
    /* vertical-align: bottom; */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.blocks {
    display: grid;
    justify-items: center;
    justify-content: center;

}

.block {
    width: max(200px, 15vw);
    height: max(200px, 15vw);
    clip-path: polygon(5% 23%, 50% 0, 95% 23%, 95% 77%, 50% 100%, 5% 77%);
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: max(1px, .1vw);
    background: var(--color-primary);
}

.block--content {
    width: 100%;
    height: 100%;
    clip-path: polygon(5% 23%, 50% 0, 95% 23%, 95% 77%, 50% 100%, 5% 77%);
    display: grid;
    justify-items: center;
    align-items: center;
}

.bg-block {
    width: 100%;
    height: 100%;
    background: rgba(1, 49, 71, .7);
    display: grid;
    align-items: center;
    justify-items: center;
}

.block--content h4 {
    width: 80%;
}

/* animated hexagon for desctop */

.bg-block {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    z-index: 1;
}

.bg-block:hover {
    border: 1px solid var(--color-secondary);
}

.bg-block span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 15%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.bg-block:hover span {
    transform: translateY(0) scale(2);
}

.bg-block span:nth-child(1) {
    --n: 1;
}

.bg-block span:nth-child(2) {
    --n: 2;
}

.bg-block span:nth-child(3) {
    --n: 3;
}

.bg-block span:nth-child(4) {
    --n: 4;
}

.bg-block span:nth-child(5) {
    --n: 5;
}

.b-one {
    grid-area: 1 / 1 / 2 / 2;
}

.b-one .block--content {
    background-image: url('./assets/seo.jpg');
    background-position: center;
    background-size: cover;
}

.b-second {
    grid-area: 1 / 2 / 2 / 3;
}

.b-second .block--content {
    background-image: url('./assets/design.jpg');
    background-position: center;
    background-size: cover;
}

.b-third {
    grid-area: 1 / 3 / 2 / 4;
}

.b-third .block--content {
    background-image: url('./assets/social-media.jpg');
    background-position: center;
    background-size: cover;
}

.b-fourth {
    grid-area: 2 / 1 / 3 / 3;
    transform: translateY(-15%);
}

.b-fourth .block--content {
    background-image: url('./assets/content-writing.jpg');
    background-position: center;
    background-size: cover;
}

.b-fifth {
    grid-area: 2 / 2 / 3/ 4;
    transform: translateY(-15%);
}

.b-fifth .block--content {
    background-image: url('./assets/reputation-management.jpg');
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:768px) {
    .section--second .section--content {
        width: 90%;
        margin-bottom: 25px;
    }
    .second--wrapper {
        grid-gap: 0;
        margin-bottom: 0;
    }

}

/* SECTION ABOUT */

.about--section {
    height:auto;
}

.about--wrapper {
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    margin: max(50px, 4vh) auto;
    align-items: center;
    min-height:30vh;
}

.about--image img {
    width:30vw;
}

.about--content p {
    line-height: 1.8;
}

.about--content {
    width:30vw;
}

@media screen and (max-width: 768px) {
    .about--section {
        height: auto;
    }
    .about--wrapper {
        grid-template-columns: 1fr;
        grid-gap: 50px;
        margin: 0 auto;
    }
    .about--image {
       margin-top: 80px;
    }
    .about--image img {
        width:80vw;
    }
    .about--content h1 {
        text-align: center;
    }
    .about--content p {
       text-align: center;
       font-size: 20px;
       line-height: 1.2;
    }
    .about--content {
        margin: auto auto 50px auto;
        width:80%;
    }
   
}

/* SECTION THIRD */

.section-third {
    height: auto;
}

.third--wrapper {
    height: 100%;
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.block--services {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: max(1px, .1vw);
    margin: auto;
    border-top: 1px solid rgba(250, 250, 250, .3);
    border-bottom: 1px solid rgba(250, 250, 250, .3);
    margin-bottom: 30px;
}

.block--services h1 {
    margin: max(25px, 2vh) auto;
}

.service--content {
    margin: max(50px, 4vh) auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    background: var(--gradient);
    text-align: center;
    padding: max(50px, 4vh) 0;
    width: 100%;
    align-items: center;
    min-height: 30vh;
}

.service--show {
    opacity: 1;
}

.item--service {
    margin-bottom: max(20px, 2vh);
    transition: opacity 1s ease-in-out;
}
.block-service {
    min-height: 60%;
}
@media screen and (max-width:768px) {
    .section-third {
        height: auto;
        padding: 0 1%;
    }

    .third--wrapper {
        font-size: 20px;
        ;
    }

    .block--services {
        width: 90%;
    }

    .service--content {
        grid-template-columns: 1fr;
        min-height:80vh;
    }
}

/* FOOTER */

footer {
    width: 100%;
}

.footer--wrapper {
    width: 100%;
    height: 100%;
    background-image: url('./assets/bg-footer.png');
    background-position: bottom;
    background-size: 100% 100%;

}

.footer--title {
    width: 80%;
    text-align: center;
    border-top: 1px solid #fafafa80;
    margin: max(25px, 2vh) auto;
    padding: max(50px, 4vh) 0;
    min-height: 30vh;
    display: grid;
    align-content: center;
}

.footer-title--wrapper {
    text-align: center;
    width: max(400px, 50%);
    margin: max(30px, 2vh) auto 0 auto;
}

.footer--content {
    width: 80%;
    margin: max(25px, 2vh) auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(250, 250, 250, .5);
    border-bottom: 1px solid rgba(250, 250, 250, .5);
    padding: max(25px, 2vh) 0;
}

.social {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: start;
}

footer .logo svg {
    width: max(60px, 4.2vw);
    height: auto;
}

footer ul a {
    color: rgba(250, 250, 250, .5);
    line-height: 1.5;
    transition: color .4s ease-in-out;
}

footer ul a:hover {
    color: var(--color-primary);
}

footer ul {
    color: rgba(250, 250, 250, .5);
    line-height: 1.5;
}
footer .social--items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.social--items svg {
    width: max(30px, 2vw);
    height: auto;
    overflow: hidden;
}

.social--items svg g {
    fill: rgba(250, 250, 250, .5);
    transition: fill .4s ease-in-out;
}

.social--items svg:hover g {
    fill: rgba(250, 250, 250, 1);
}

@media screen and (max-width: 768px) {
    header .logo {
        margin-left: 10px;
    }

    .section--second {
        height: auto;
    }

    .footer--wrapper {
        background-size: cover;
    }

    .footer-title--wrapper {
        width: 100%;
    }

    footer .logo svg {
        width: 62px;
        height: auto;
    }

    .social--items svg {
        width: max(40px, 1vw);
        height: auto;
    } 

    footer .social--items svg {
        width: 28px;
        height: auto;
    }

    .blocks {
        grid-gap: max(20px, 5vw);
        height: auto;
        transform: translateY(80px);
    }

    .block--content {
        opacity: 0;
        transition: opacity .4s ease;
    }

    .b-one {
        grid-area: 1 / 1 / 2 / 2;
        transform: translateX(-50px) scale(.3) skew(-25deg, -15deg);
        transition: transform 1s ease-in-out;
        transform-origin: center bottom;
        background: var(--green);

    }

    .scale-one {
        transform: translateX(-50px) scale(1) skew(0, 0);
        background: var(--color-primary);
    }

    .b-second {
        grid-area: 2 / 1 / 3 / 2;
        transform: translate(44px, -62px) scale(.4) skew(25deg, -15deg);
        transition: transform 1s ease-in-out;
        transform-origin: center bottom;
        background: var(--green);
    }

    .scale-two {
        transform: translate(44px, -62px) scale(1) skew(0, 0);
        background: var(--color-primary);
    }

    .b-third {
        grid-area: 3 / 1 / 4 / 2;
        transform: translate(-50px, -124px) scale(.5) skew(-25deg, -15deg);
        transition: transform 1s ease-in-out;
        background: var(--green);
    }

    .scale-three {
        transform: translate(-50px, -124px) scale(1) skew(0, 0);
        background: var(--color-primary);
    }

    .b-fourth {
        grid-area: 5 / 1 / 6 / 2;
        transform: translate(44px, -206px) scale(.6) skew(25deg, -15deg);
        transition: transform 1s ease-in-out;
        background: var(--green);
    }

    .scale-four {
        transform: translate(44px, -206px) scale(1) skew(0, 0);
        background: var(--color-primary);
    }

    .b-fifth {
        grid-area: 6 / 1 / 7/ 2;
        transform: translate(-50px, -268px) scale(.7) skew(-25deg, -15deg);
        transition: transform 1s ease-in-out;
        background: var(--green);
    }

    .scale-five {
        transform: translate(-50px, -268px) scale(1) skew(0, 0);
        background: var(--color-primary);
    }

    .scale-one .block--content,
    .scale-two .block--content,
    .scale-three .block--content,
    .scale-four .block--content,
    .scale-five .block--content {
        opacity: 1;
    }
}

.misc {
    padding: .5vh 10%;
    color: rgba(250, 250, 250, .5);
    font-size: max(12px, .6vmax);
    height: max(24px, 1.2vh);
    display: grid;
    align-items: center;
}

/* MODAL */

.modal--wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    top: 0;
    transition: background 2s ease-in-out;
    display: none;
    z-index: 100;

}

.modal {
    height: auto;
    width: 50vw;
    background-color: var(--color-secondary);
    position: relative;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.modal--header {
    margin: max(25px, 2vh) 0;
    text-align: center;
}

.modal--close {
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.modal--close svg {
    width: max(20px, 1vw);
    fill: rgba(250, 250, 250, .5);
    cursor: pointer;
}

.modal--close svg:hover {
    fill: var(--green);
}
.contact h2 {
    margin-bottom: max(15px, 1.5vh);
    font-size: max(1rem, 1vmax);
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    margin: auto auto max(25px, 2vh) auto;
    width:90%;
    border-top: 1px solid rgba(250, 250, 250, .5);
}
.contact--wrapper {
    margin-top:max(25px, 2vh) ;
    padding:5%;
    width: 100%;
}
.address--wrapper,
.mail--wrapper {
    display: grid;
    justify-items: center;
}

.contact svg {
    width: max(.8rem, .8vmax);
    fill: var(--color-primary);
}
.mail--wrapper p {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items:center;
    grid-gap:2%;
}
.contact p {
    font-size: max(.8rem, .8vmax);
    color: var(--color-tr);
    margin-bottom: max(8px, 1vh);
}
.contact span {
    margin-left: max(5px, .1vw);
}
.e-mail {
    display: grid;
}
.e-mail svg {
    width:max(90px,5vmax);
    fill: var(--color-tr);
}

form {

    font-size: max(20px, 1vmax);
    width: 90%;
    margin: max(30px, 1vh) auto;
}

input,
textarea {
    padding-left: 5px;
    width: calc(100% - 5px);
    border: none;
    margin-bottom: max(30px, .3vh);
    font-size: max(20px, 1vmax);
    outline-color: var(--green);
}

input[type=text],
input[type=email],
input[type=tel] {
    height: max(40px, 4vh);
}

textarea {
    height: max(100px, 10vh);
    resize: none;
}

.input--contact {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: max(5px, .2vw);
}

.input--wrapper {
    width: 100%;
    margin: auto;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    font-size: max(18px, .8vmax)
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    font-size: max(18px, .8vmax)
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    font-size: max(18px, .8vmax)
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    font-size: max(18px, .8vmax)
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.status {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-secondary);
    z-index: 100;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    line-height: 2;
}

@media screen and (max-width:768px) {
    .modal {
        height: auto;
        width: 90vw;
    }
    .contact h2 {
        font-size: .8rem;
    }
    .contact p {
        font-size: .6rem;
    }
    .contact svg {
        width: .6rem;
    }
    .contact--wrapper {
        margin-top: 5px ;
    }
    .contact {
        margin: auto auto 5px auto;
    }
    .e-mail svg {
        width:70px;
    }
    .address--wrapper {
        justify-items: end;
    }
    .mail--wrapper {
        justify-items: start;
    }
    input[type=text],
    input[type=email],
    input[type=tel] {
        width: 100%;
    }

    input,
    textarea {
        margin-bottom: 15px;
    }

    .input--contact {
        grid-template-columns: 1fr;
    }
}