@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

html {
    overflow-x: hidden;
    font-size: max(16px, 1vmax);
    font-family: 'Roboto', sans-serif;
    
}

:root {
    --color-secondary: #013147;
    --translate: max(50px, 6vh);
    --color-primary: #fafafa;
}

body {
    /* background: linear-gradient(rgba(0, 9, 7) 0%, rgba(5, 12, 18) 100%); */
    background: var(--color);
    color:var(--color-primary);
    font-weight: 300;
    background: #013147;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    font-size: max(32px, 2vmax);
    margin-bottom: max(25px, 2vh);
}

h2 {
    font-size: max(20px, 1.2vmax);
    margin-bottom: max(25px, 2vh);
}

h3 {
    font-size: max(18px, 1.1vmax);
    margin-bottom: max(25px, 2vh);
    text-transform: uppercase;
}
/* BUTTONS */

.button {
    font-size: max(16px, 1vmax);
    margin-bottom: max(25px, 2vh);
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
    padding: max(10px,.5vh) max(20px, 1vh);
    cursor: pointer;
    user-select: none;
    display: block;
}

.btn {
    border-color: var(--color-primary);
    color: var(--color-primary);
    /* box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db; */
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    font-weight: 300;
  }
  .btn:hover {
    box-shadow: 0 0 10px 0 rgba(58,45,153,.3) inset, 0 0 10px 4px rgba(58,45,153,.3);
    font-weight: 500;
}

.btn-2 {
    position: relative;
    font-weight: 300;
    color: var(--color-primary);
    /* background:var(--color-primary); */
    transition: background .5s ease-in-out;
}  
.btn-2  svg {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0; 
      width: 100%; 
    }
    
 .btn-2  rect {
      fill: none;
      stroke:var(--color-primary);
      stroke-width: 2;
      stroke-dasharray: 422, 0;
      transition: all 0.35s linear;
    
 } 
  .btn-2:hover {
    letter-spacing: 1px;
    background:var(--color-secondary);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    font-weight: 500;
  } 
  .btn-2:hover  rect {
      stroke-width: 5;
      stroke-dasharray: 10%, 300%;
      stroke-dashoffset: 80%;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  

/* HEADER */

header {
    width: 100%;
    height: max(60px, 10vh);
    position: fixed;
    z-index: 100;
    transition: background 1s ease-in-out;
}
header a {
    color: var(--color-primary);
    transition: color .5s ease-in-out;
}
.header--wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: max(60px, 10vw) 1fr max(60px, 10vw);
    justify-items: center;
    align-items: center;
}

.logo {
    display: grid;
    align-items: center;
}

.logo svg {
    fill: var(--color);
    width: max(30px, 6vw);
    height: max(30px, 6vh);
}

nav a {
    margin: 0 max(10px, 1vw);
}

/* SECTION BANNER */

.section {
    height: 100vh;
    padding: 0 10%;
}

.section--banner {
    background-image: url('./assets/banner-ioxo.jpg');
    background-position: bottom;
    background-size: cover;
    color:var(--color-primary);
}
.section--banner .button {
    width:60%;
    margin:  max(25px, 2vh) auto;
}

.section--wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.section--content {
    text-align: center;
}

.bt_arrow svg {
    fill: var(--color);
    width: max(20px, 1vw);
    height: max(20px, 1vw);
    stroke-width: max(20px, .7vw);
    stroke: var(--color-primary);
    cursor: pointer;
}

.bt_arrow {
    display: block;
    width: max(20px, 1vw);
    margin: 0 auto;
    opacity: 1;
    animation-delay: 1s;
    animation: move 2s infinite;
}

@keyframes move {
    0% {

        transform: translateY(0);
        opacity: 0;
      }
      100% {
        transform: translateY(max(30px, 1vh));
        opacity: 1;
      }
}

/* SECTION SECOND */

.blocks {
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-gap: max(20px, .6vw);
}

.block {
    width: max(200px, 15vw);
    height: max(200px, 15vw);
    clip-path: polygon(5% 23%, 50% 0, 95% 23%, 95% 77%, 50% 100%, 5% 77%);
    display: grid;
    justify-items: center;
    align-items:center;
    text-align: center;
    padding: max(5px, .5vw);
    background: var(--color-primary);
}
.block--content {
    width: 100%;
    height:100%;
    clip-path: polygon(5% 23%, 50% 0, 95% 23%, 95% 77%, 50% 100%, 5% 77%);
    display: grid;
    justify-items: center;
    align-items:center;
}
.bg-block {
    width: 100%;
    height: 100%;
    background: rgba(1,49,71,.7);
    display: grid;
    align-items: center;
    justify-items: center;
}
.block--content h4 {
    width: 80%;
}
.b-one {
    grid-area: 1 / 1 / 2 / 2;
}
.b-one .block--content {
    background-image:url('./assets/seo.jpg');
    background-position:center;
    background-size:cover;
}
.b-second {
    grid-area: 1 / 2 / 2 / 3;
}

.b-second .block--content {
    background-image:url('./assets/design.jpg');
    background-position:center;
    background-size:cover;
}
.b-third {
    grid-area: 1 / 3 / 2 / 4;
}

.b-third .block--content {
    background-image:url('./assets/social-media.jpg');
    background-position:center;
    background-size:cover;
}
.b-fourth {
    grid-area: 2 / 1 / 3 / 3;
    transform: translateY(-15%);
}
.b-fourth .block--content {
    background-image:url('./assets/content-writing.jpg');
    background-position:center;
    background-size:cover;
}
.b-fifth {
    grid-area: 2 / 2 / 3/ 4;
    transform: translateY(-15%);
}
.b-fifth .block--content  {
    background-image:url('./assets/reputation-management.jpg');
    background-position:center;
    background-size:cover;
}

/* FOOTER */

footer {
    width: 100%;
}

.footer--wrapper {
    width: 100%;
    height: 100%;
    background-image: url('./assets/bg-footer.png');
    background-position: bottom;
    background-size: 100% 100%;

}

.footer--title {
    width: 80%;
    margin: max(25px, 2vh) auto;
    border-top: 1px solid rgba(250, 250,250,.5);
    text-align: center;
    padding: max(25px, 2vh) 0;
}

.footer--content {
    width: 80%;
    margin: max(25px, 2vh) auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(250, 250,250,.5);
    border-bottom: 1px solid rgba(250, 250,250,.5);
    padding: max(25px, 2vh) 0;
}

.social {
    display: grid;
    justify-items: center;
    align-items: center;
}

footer .logo {
    margin-bottom: max(25px, 2vh);
}

footer .logo svg {
    width: max(40px, 3vw);
    height: max(40px, 3vh);
}

footer ul {
    color: rgba(250, 250,250,.5);
}

.social--items svg {
    width: max(30px, 1vw);
    height: auto;
}

@media screen and (max-width: 720px) {
    .section--second {
       height: auto;
    }

    .footer--wrapper {
        background-size: cover;
    }

    footer .logo svg {
        width: max(30px, 3vw);
        height: max(30px, 3vh);
    }

    .social--items svg {
        width: max(20px, 1vw);
        height: auto;
    }

    .b-one {
        grid-area: 1 / 1 / 2 / 2;
    }

    .b-second {
        grid-area: 2 / 1 / 3 / 2;
    }      

    .b-third {
        grid-area: 3 / 1 / 4 / 2;
   }      

    .b-fourth {
        grid-area: 5 / 1 / 6 / 2;
        transform: translateY(-10%);
    }

    .b-fifth {
        grid-area: 6 / 1 / 7/ 2;
        transform: translateY(-10%);
    }
}

.misc {
    padding: .5vh 10%;
    color: rgba(250,250,250,.5);
    font-size: max(12px, .6vmax);
    height: max(24px, 1.2vh);
    display: grid;
    align-items: center;
}



  
  

